
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 1500px;
    background-color: teal;
    gap: 10px;
}

.navbar a {
    color: var(--text-color);
}